
/*RESET*/
*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style: none;

}

body{
    overflow-x: hidden;
 }
a {
    text-decoration: none;
}
footer a{
    
    color: white;
}

header{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 500;
    
}
.navbar-expand-lg .navbar-collapse{
    display: inline !important;
}

nav{
    font-size: 20px;
    
}

.h7{
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
}
.p7{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.h8{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    line-height: 54px;
    text-transform: uppercase;
}
.h9{
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 46px;
line-height: 54px;
/* identical to box height */

text-transform: uppercase;
}
.p8{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
.boton-producto{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 25vw;
    border-radius: 3rem;
}
.carrousel{
    background-image: url("../img/funkos-banner.webp");
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0 !important;
    padding-block: 5rem;
    position: relative;
}

.carrousel::before{
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0,0,0,0.33);
}   
.px-todo{
    padding-inline: 5rem !important;
}
.px-todo1{
    padding-inline: 3rem !important;
}
.carrousel__boton{
    width: 15vw;
    border-radius: 3rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

button.boton-producto {
    background-color: #30343F;
}
.card{
    border: none;
}

.card-body hr{
    color: red;
    border: 1px solid #FF3333;
    opacity: 1;
}

.p9{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
}
.p10{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.h10{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
}
.p11{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
}
.boton-lanzamiento{
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
}